@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: none;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: rgb(255, 255, 255) !important;
}
body {
  margin: 0 auto;
  min-height: 100vh;
  min-width: 100vw;
  font-family: "Manrope", sans-serif;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-x: hidden;
}
